.toggle-btn {
    border: none;
    background-color: transparent;
    box-shadow: none;
    color: black;
  }
  
  /* Hide the down arrow */
  .dropdown-toggle::after {
    display: none !important;
  }